@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
:root {
  font-family: Roboto-mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%; /* Makes rem calculations easier: 10px = 1rem */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  line-height: 1.6;
  font-size: 1.6rem; /* 16px */
  background-color: #050734;
  color: #e2e8f0;

  cursor: url("data:image/x-icon;base64,AAACAAEAICACAAcABwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////7////+/////v////7////+/////v////7////+////AAD///7////+/////v////7////+/////v////7///8="),
    auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cursor-glow {
  position: fixed;
  pointer-events: none;
  width: 240px;
  height: 230px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.097);
  box-shadow: 0 0 75px 30px rgba(255, 255, 255, 0.02),
    0 0 125px 50px rgba(255, 255, 255, 0.15),
    0 0 175px 70px rgba(255, 255, 255, 0.01),
    0 0 225px 90px rgba(255, 255, 255, 0.007),
    0 0 275px 110px rgba(255, 255, 255, 0.005);
  transform: translate(-50%, -50%);
  z-index: 10000;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
b {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.application-main-container {
  width: 100%; /* 100% of the viewport width */
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ============================== */
/* --------------------------------------------------------- */

/*   <<<====== APPLICATION CODE STARTS HERE ======>>>    */

/* ---------------------------------------------------------- */
/* ============================== */

.page-main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* <=== Navigation Bar ===>  */
.navigation-bar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation-bar-logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 40px;
  color: #fcec3b;
}

.nav-bar-link {
  color: #fcec3b8e;
  text-decoration: none;
  font-size: 28px;
}
a.pending {
  color: #fcec3b8e;
  text-decoration: none;
  font-size: 28px;
}
a.active {
  color: #fcec3b;
}

.navigation-links-holder {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-link:hover > .nav-bar-code-symbol-left {
  margin-right: 8px;
  transition: all 0.5s;
}
.nav-bar-link:hover > .nav-bar-code-symbol-right {
  margin-left: 8px;
  transition: all 0.5s;
}

/* --------------------------------- */

/* <=== Home Page  ===>  */

/* --------------------------------- */
.home-page-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
.home-page-named-heading {
  font-size: 50px;
}
.home-page-linked-heading {
  font-size: 40px;
}
.linked-headings-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
}
.home-page-bottom-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
}
.hope-page-bottom-heading {
  font-size: 30px;
}
.home-page-arrow-down-icon {
  transition: all 0.6s;
}
.home-page-arrow-down-icon:hover {
  font-size: 60;
}
.home-page-hidden-section-holder {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 70px;
  margin-top: 400px;
}
.home-page-hidden-section-heading {
  font-size: 37px;
  margin-bottom: 7px;
}

.home-page-hidden-section-paragraph {
  width: 80%;
  font-size: 23px;
  line-height: 55px;
}

/* --------------------------------- */

/* <=== About Page  ===>  */

/* --------------------------------- */

.about-page-main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.about-page-top-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 65px;
  margin-top: -100px;
}
.comment-like-heading {
  color: #7f92b1a1;
  font-size: 48px;
}
/* <=== Image title wrapper component  ===>  */

.about-page-image-title-wrapper {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-page-hero-name-heading {
  font-size: 36px;
  font-weight: bold;
}
.about-page-hero-text-heading {
  font-size: 30px;
  font-weight: normal;
}
.about-page-profile-picture {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 70px;
}

/* <=== Short text SoMe wrapper component  ===>  */

.about-page-short-text-holder {
  width: 69%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-page-SoMe-icons-holder {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-page-short-text {
  font-size: 32px;
  line-height: 58px;
  color: #7f92b1;
  margin-bottom: 30px;
}
.SoMe-icon {
  width: 52px;
  height: 52px;
  transition: all 0.4s;
}
.SoMe-icon:hover {
  fill: #fcec3b;
  cursor: pointer;
}

/* <=== My stack component  ===>  */

.my-stack-component-holder {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.my-stack-inner-wrapper {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icons-holder-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
  background: linear-gradient(#050343, #050734);
}
.stack-icon {
  width: 15%;
  height: 90px;
}
.stack-icons-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icons-second-row {
  width: 45%;
  margin-top: 80px;
  align-self: center;
  justify-content: space-between;
}
.about-me-text-wrapper {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
}
