@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
:root {
  font-family: Roboto-mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%; /* Makes rem calculations easier: 10px = 1rem */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  line-height: 1.6;
  font-size: 1.6rem; /* 16px */
  background-color: #050734;
  color: #e2e8f0;
  cursor: url("data:image/x-icon;base64,AAACAAEAICACAAcABwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////7////+/////v////7////+/////v////7////+////AAD///7////+/////v////7////+/////v////7///8="),
    auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cursor-glow {
  position: fixed;
  pointer-events: none;
  width: 240px;
  height: 230px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.097);
  box-shadow: 0 0 75px 30px rgba(255, 255, 255, 0.02),
    0 0 125px 50px rgba(255, 255, 255, 0.15),
    0 0 175px 70px rgba(255, 255, 255, 0.01),
    0 0 225px 90px rgba(255, 255, 255, 0.007),
    0 0 275px 110px rgba(255, 255, 255, 0.005);
  transform: translate(-50%, -50%);
  z-index: 10000;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
b {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none !important;
  color: inherit;
}

.application-main-container {
  width: 100%; /* 100% of the viewport width */
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ============================== */
/* --------------------------------------------------------- */

/*   <<<====== APPLICATION CODE STARTS HERE ======>>>    */

/* ---------------------------------------------------------- */
/* ============================== */

.page-main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* <=== Navigation Bar ===>  */
.navigation-bar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 2%
}
.navigation-bar-logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 40px;
  color: #fcec3b;
}

.nav-bar-link {
  color: #fcec3b8e;
  text-decoration: none;
  font-size: 28px;
}
a.pending {
  color: #fcec3b8e;
  text-decoration: none;
  font-size: 28px;
}
a.active {
  color: #fcec3b;
}

.navigation-links-holder {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-link:hover > .nav-bar-code-symbol-left {
  margin-right: 8px;
  transition: all 0.5s;
}
.nav-bar-link:hover > .nav-bar-code-symbol-right {
  margin-left: 8px;
  transition: all 0.5s;
}

@media (min-width: 2000px) {
  .navigation-links-holder {
    width: 23%;
  }
  .nav-bar-link {
    font-size: 32px;
  }
}

/* <=== Loader Component ===>  */
.loader-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-heading {
  font-size: 18pt;
  font-weight: 500;
  color: #fcec3b;
  margin-top: 25px;
}


@media (min-width: 2000px) {
  .loader-heading {
    font-size: 24pt;
    margin-top: 35px;
  }
}

/* --------------------------------- */

/* <=== Home Page  ===>  */

/* --------------------------------- */
.home-page-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
.home-page-named-heading {
  font-size: 45px;
}
.home-page-linked-heading {
  font-size: 30px;
}
.linked-headings-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
}
.home-page-bottom-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
}

.hope-page-bottom-heading {
  font-size: 23px;
}
.home-page-arrow-down-icon {
  transition: all 0.6s;
}
.home-page-arrow-down-icon:hover {
  color: #fcec3b;
}
.home-page-hidden-section-holder {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 81px;
  margin-top: 400px;
}
.home-page-hidden-section-heading {
  font-size: 37px;
  margin-bottom: 7px;
}

.home-page-hidden-section-paragraph {
  width: 80%;
  font-size: 23px;
  line-height: 55px;
}

@media (min-width: 2000px) {
  .home-page-main-wrapper {
    margin-top: 140px;
  }

  .home-page-named-heading {
    font-size: 50px;
  }

  .home-page-linked-heading {
    font-size: 40px;
  }
  .hope-page-bottom-heading {
    font-size: 30px;
  }
  .home-page-arrow-down-icon:hover {
    font-size: 63px;
    color: #fcec3b;
  }
}

/* --------------------------------- */

/* <=== About Page  ===>  */

/* --------------------------------- */

.about-page-main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 230px;
  padding: 0px 80px;
}

.about-page-top-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 65px;
  margin-top: -100px;
}
.comment-like-heading {
  color: #7f92b1a1;
  font-size: 38px;
}
/* <=== Image title wrapper component  ===>  */

.about-page-image-title-wrapper {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-page-hero-name-heading {
  font-size: 32px;
  font-weight: bold;
}
.about-page-hero-text-heading {
  font-size: 28px;
  font-weight: normal;
}
.about-page-profile-picture {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 70px;
}

/* <=== Short text SoMe wrapper component  ===>  */

.about-page-short-text-holder {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-page-SoMe-icons-holder {
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-page-short-text {
  width: 86%;
  font-size: 29px;
  line-height: 52px;
  color: #7f92b1;
  margin-bottom: 30px;
}
.SoMe-icon {
  width: 36px;
  height: 36px;
  transition: all 0.4s;
}
.SoMe-icon:hover {
  fill: #fcec3b;
  cursor: pointer;
}

@media (min-width: 2000px) {
  .about-page-short-text-holder {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-page-SoMe-icons-holder {
    width: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about-page-short-text {
    width: 64%;
    font-size: 32px;
    line-height: 52px;
    color: #7f92b1;
    margin-bottom: 30px;
  }
  .SoMe-icon {
    width: 45px;
    height: 45px;
    transition: all 0.4s;
  }
}

/* <=== My stack component  ===>  */

.my-stack-component-holder {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.my-stack-inner-wrapper {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icons-holder-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
  background: linear-gradient(#050343, #050734);
}
.stack-icon {
  width: 15%;
  height: 90px;
}
.stack-icons-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icons-second-row {
  width: 45%;
  margin-top: 80px;
  align-self: center;
  justify-content: space-between;
}
.about-me-text-wrapper {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
}
.about-me-paragraph {
  width: 80%;
  font-size: 23px;
  line-height: 55px;
}

/* --------------------------------- */

/* <=== Work Page  ===>  */

/* --------------------------------- */

.work-page-main-wrapper {
  flex-direction: column;
  align-items: center;
  margin-top: 155px;
}

.project-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.work-comment-heading {
  padding: 0 81px;
  margin-bottom: 20px;
}

.projects-list-holder {
  width: 100%;
  height: 100%;
  padding: 0 46px;
}

.project-page-top-section-holder {
  width: 91%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter-button-inner-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filter-button-text {
  margin-left: 5px;
  font-weight: bold;
}

.filter-menu-item {
  font-size: 17pt;
}

/* <=== Project item component  ===>  */

.project-item-component-wrapper {
  width: 92%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 35px 30px 35px;
  margin: 15px 0 0 25px;
  transition: all 0.6s;
}

.project-item-component-wrapper:hover {
  background-color: #e2e8f020;
  border-radius: 15px;
}

.project-item-component-wrapper:hover .project-item-arrow {
  transform: translate(6px, -10px);
  color: #fcec3b;
}

.project-item-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-item-left-side {
  width: 30%;
}

.project-item-left-side-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project-item-image {
  width: 100%;
}

/* <=== Project Right side  ===>  */

.project-item-right-side {
  height: 100%;
  width: 62%;
}

.project-right-side-heeading-icon-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-item-top-section-right-side-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.project-item-heading {
  font-size: 32px;
}

.project-item-description {
  width: 100%;
  font-size: 27px;
  margin-top: 32px;
  color: #7f92b1;
}

.private-label {
  line-height: 18px;
  white-space: nowrap;
  border: 0.0625rem solid #9ba0a7;
  border-radius: 624.9375rem;
  display: inline-block;
  padding: 2px 1rem;
  font-weight: 500;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 10px;
}

.project-atributes-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.project-item-right-side-attributes {
  width: 62%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-item-left-side-attributes {
  width: 30%;
}

.project-attribute-text {
  font-size: 19px;
  color: #ffc745;
}

.project-stack-icons-holder {
  width: 66%;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line, if needed */
  flex-direction: row;
  margin-top: 22px;
}

.stack-item-wrapper {
  width: 9%;
  height: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f098;
  border-radius: 50px;
  padding: 0.5em 0.5em 0.5em;
  margin-right: 3%;
}

.project-stack-icon {
  width: 30%;
}

@media (min-width: 2000px) {
  .comment-like-heading {
    color: #7f92b1a1;
    font-size: 48px;
  }

  .project-item-heading {
    font-size: 38px;
  }

  .project-item-description {
    width: 100%;
    font-size: 32px;
    margin-top: 32px;
    color: #7f92b1;
  }

  .project-attribute-text {
    font-size: 24px;
    color: #ffc745;
  }
}
