/* Scroll bar styling */
::-webkit-scrollbar-track {
  background: #05073400;
}
::-webkit-scrollbar-thumb {
  background: #fcec3b8e;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fcec3b;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #050734;
}
